.popup__content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 430px;
  background: #ffffff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  height: 330px;

}
@media (max-width: 500px) {
  .popup__content {
    width: 282px;
  }
}
