.header__logo {
  margin: 0;
  width: 142px;
  height: 33px;
  margin-top: 45px;
  margin-bottom: 41px;
}
@media (max-width: 320px) {
  .header__logo {
    width: 103.74px;
    height: 24.4px;
    margin-top: 28px;
    margin-left: 27px;
  }
}
