.profile__description {
  margin: 0;
  padding: 0;
  margin-top: 16px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  max-width: 336px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 720px) {
  .profile__description {
    align-self: center;
  }
}
@media (max-width: 320px) {
  .profile__description {
    align-self: center;
  }
}
