
.profile__picture-edit {
    display: none;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    color: aliceblue;
    background-image: url(../../../images/Bigpen.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }