.profile__name {
  padding: 0;
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
  color: #ffffff;
  max-width: 294px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 380px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    max-width: 180px;
  }
}
