.span {
  /* visibility: hidden; */
  display: block;
  min-height: 30px;
  color: red;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  line-height: 15px;
  margin-left: 36px;
  margin-right: 36px;
}

@media (max-width: 500px) {
  .span {
    /* font-size: 11px; */
    margin-left: 22px;
    margin-right: 22px;
}
}