.popup__input {
  margin: 0;
  padding: 0;
  margin-left: 36px;
  margin-right: 36px;
  /* margin-top: 30px; */
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

/* @media (max-width: 320px) {
  .popup__input {
    margin-left: 22px;
    margin-right: 22px;
  }
} */

@media (max-width: 500px) {
  .popup__input {
    margin-left: 22px;
    margin-right: 22px;
  }
}
