.popup__input_type_about {
  margin: 0;
  padding: 0;
  margin-top: 43px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
@media (max-width: 320px) {
  .popup__input_type_about {
    margin: 43px 22px 0px;
  }
}
