.photo-grid__item {
  min-width: 282px;
  width: 100%;
  height: 282px;
  background-size: cover;
  border-radius: 10px 10px 0px 0px;
}

@media (max-width: 320px) {
  .photo-grid__item {
    min-width: 282px;
    width: 100%;
  }
}
