.header {
  margin: 0 auto;
  border-bottom: solid 1px #545454;
}
@media (max-width: 1024px) {
  .header {
    margin-left: 48px;
    margin-right: 48px;
  }
}

@media (max-width: 320px) {
  .header {
    margin: 0px;
  }
}
